@import "../../sass/index";

.modal-container {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	background-color: #0e1217ce;
	@include sm {
		& {
			.product-modal {
				width: 20rem;
				height: 80%;
				.image {
					img {
						width: 10rem;
					}
				}
			}
		}
	}
}

.product-modal {
	position: absolute;
	width: 25rem;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: $clr-white;
	padding: 4rem 0;
	border-radius: $radius;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
	.msg {
		h4 {
			color: #2acc78;
		}
		.icon {
			svg {
				color: #2acc78;
			}
		}
	}
	.title {
		text-align: center;
	}
	.product {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		text-align: center;
		.info {
			& > div {
				padding: 0.5rem;
				&:not(:last-child) {
					border-bottom: 1px solid $clr-grey-5;
				}
				span,
				h4,
				p {
					color: $clr-primary-5;
					margin-left: 1rem !important;
				}
			}
			.btns {
				display: flex;
				justify-content: center;
				.back-btn {
					margin-right: 1rem;
				}
			}
			.close-modal-btn {
				position: absolute;
				top: -3.5rem;
				right: 0.5rem;
				padding: 2px;
				display: flex;
				justify-content: center;
			}
		}
	}
}
